@font-face {
  font-family: "fa-brands-400";
  font-display: swap;
  src: url("../fonts/fa-brands-400.woff") format("woff"),
    url("../fonts/fa-brands-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "fa-duotone-900";
  font-display: swap;
  src: url("../fonts/fa-duotone-900.woff") format("woff"),
    url("../fonts/fa-duotone-900.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "fa-light-300";
  font-display: swap;
  src: url("../fonts/fa-light-300.woff") format("woff"),
    url("../fonts/fa-light-300.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "fa-regular-400";
  font-display: swap;
  src: url("../fonts/fa-regular-400.woff") format("woff"),
    url("../fonts/fa-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "fa-solid-900";
  font-display: swap;
  src: url("../fonts/fa-solid-900.woff") format("woff"),
    url("../fonts/fa-solid-900.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes-Medium";
  font-display: swap;
  src: url("../fonts/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTLakesCompressed-Black";
  font-display: swap;
  src: url("../fonts/TTLakesCompressed-Black.woff") format("woff"),
    url("../fonts/TTLakesCompressed-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TTLakesCondensed-Bold";
  font-display: swap;
  src: url("../fonts/TTLakesCondensed-Bold.woff") format("woff"),
    url("../fonts/TTLakesCondensed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: scroll;
}

.container {
  max-width: 1120px;
  min-height: 88px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f8f8f8;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0px 16px;
  min-height: 88px;
  background-color: #ffffff;
}

.header__logo {
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-right: 2px solid #eaeaea;
  border-radius: 1px;
  height: 37px;
  padding-right: 16.73px;
}

.header__logo h1 {
  font-family: TTLakesCondensed-Bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  margin: 20px 0px 0px 16px;
  display: none;
  position: relative;
}

.header__logo h1:before {
  content: "";
  border-left: 3px solid #41f6d7;
  border-radius: 2px;
  height: 40px;
  position: absolute;
  top: 0;
  left: -33px;
}

.header__list {
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__list li {
  margin-right: 16px;
}

.header__list li:last-child {
  margin-right: 0;
}

.header__list li:nth-child(-n + 3) {
  display: none;
}

.header__link span {
  display: inline-block;
  font-family: "TTLakes-Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  margin: 8px 0px 0px 0px;
  display: none;
}

.header .btn_s {
  margin-right: 16.73px;
  background-color: transparent;
}

.main__content {
  padding: 106px 0 35px 0px;
}

.main__title h2 {
  font-family: "TTLakesCondensed-Bold";
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
  position: relative;
  display: block;
  margin-left: 15px;
}

.main__title h2:before {
  content: "";
  border-left: 4px solid #41f6d7;
  border-radius: 2px;
  height: 40px;
  position: absolute;
  top: 0;
  left: -15px;
}

.main__list {
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -moz-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1120px;
  margin-left: 16px;
  overflow: scroll;
}

.main__list li {
  padding: 13px 0px;
}

.main__list li:nth-child(1) {
  margin-right: 30px;
}

.main__list li:nth-child(2) {
  margin-right: 30px;
}

.main__list li:nth-child(3) {
  margin-right: 31px;
}

.main__list li:nth-child(4) {
  margin-right: 35px;
}

.main__list li:nth-child(6) {
  margin-left: 25px;
}

.main__link {
  font-family: "TTLakes-Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
  border: 2px solid transparent;
}

.main__link--act {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
  padding: 8px 21px;
}

.main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 24px;
}

.main__text {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  padding-right: 15px;
}

.main__text p {
  display: inline-block;
  font-family: "TTLakes-Medium";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  padding: 0 0 0 10px;
}

.main__text span {
  margin-top: 32px;
  display: block;
  font-family: "TTLakes-Medium";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1b1c21;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.main__btn {
  font-family: "TTLakes-Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
  position: relative;
  display: inline-block;
  padding-left: 30px;
  margin: 16px 20px;
  background: transparent;
}

.main__btn:before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../img/icons/expand.svg") no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
}

.main__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-left: 0px;
}

.main__img img {
  width: 100%;
  border-radius: 5px;
}

@media (min-width: 479.9px) {
  .main__content {
    padding: 106px 30px 35px 30px;
  }

  .main__title h2:before {
    left: -30px;
  }
}

@media (min-width: 489.9px) {
  .main__title h2 {
    margin-left: 0px;
  }

  .main__list {
    margin-left: 0;
  }
}

@media (min-width: 767.9px) {
  .header__container {
    background-color: #f8f8f8;
  }

  .header__logo {
    border-right: 0px solid #eaeaea;
    height: 0;
  }

  .header__list li:nth-child(-n + 3) {
    display: block;
  }

  .header .btn_s {
    border-right: 2px solid #eaeaea;
    border-radius: 1px;
    height: 37px;
    padding-right: 16.73px;
  }

  .main__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 19px;
  }

  .main__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 490px;
    flex: 0 1 490px;
  }

  .main__text p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-top: 0;
    padding: 0;
  }

  .main__btn {
    margin: 14px 0 0 0;
  }

  .main__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 530px;
    flex: 0 1 530px;
    margin-left: 15px;
  }
}

@media (min-width: 991.9px) {
  .main__text span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
}

@media (min-width: 1119.9px) {
  .container {
    min-height: 91px;
  }

  .header__container {
    min-height: 91px;
  }

  .header__logo h1 {
    display: block;
  }

  .header__logo--img {
    display: none;
  }

  .header__list li {
    margin-top: 25px;
  }

  .header__list li:nth-child(-n + 3) {
    display: none;
  }

  .header__link span {
    display: inline-block;
  }

  .header .btn_s {
    display: none;
  }

  .main__title h2 {
    display: none;
  }

  .main__list li:nth-child(1) {
    margin-right: 30px;
  }

  .main__list li:nth-child(2) {
    margin-right: 30px;
  }
}

@media (max-width: 767.9px) {
  .main__text span {
    display: none;
  }
}
